.b-fotorama.fotorama( data-ratio="5/3" data-width="100%" data-arrows="true" data-click="true" data-swipe="true" data-loop="true" )

  .b-fotorama__frame
    .b-life-style-gallery__image( style="background-image: url( '/upload/gallery/1.jpg' );" )
    .b-fotorama__text
      h5 Люблинский сквер
      p L-club – четырехсекционный дом клубного формата, расположенный в двух минутах пешком от станции метро «Люблино».

  .b-fotorama__frame
    .b-life-style-gallery__image( style="background-image: url( '/upload/gallery/2.jpg' );" )
    .b-fotorama__text
      h5 Квартиры
      p 23-этажный дом рассчитан всего на 506 квартир с продуманными и функциональными планировочными решениями (от студий до 3-комнатных квартир) и широким выбором площадей (от 37 до 90 м²).

  .b-fotorama__frame
    .b-life-style-gallery__image( style="background-image: url( '/upload/gallery/3.jpg' );" )
    .b-fotorama__text
      h5 Паркинг
      p В подземном паркинге будет организовано 249 машино-мест, а на первом этаже дома разместится детский досуговый центр для маленьких жителей дома.

  .b-fotorama__frame
    .b-life-style-gallery__image( style="background-image: url( '/upload/gallery/4.jpg' );" )
    .b-fotorama__text
      h5 Территория
      p На огороженной придомовой территории будут организованы спортивная и детская площадки, а также зона отдыха.
