.b-fotorama
  .fotorama.hide-on-small-only( data-width="100%" data-arrows="true" data-swipe="true" data-ratio="3" data-loop="true" data-click="false" )
    div
      include ../../modules/photo-card/include
    div
      include ../../modules/photo-card/include
    div
      include ../../modules/photo-card/include
    
.b-fotorama
  .fotorama.hide-on-med-and-up( data-width="100%" data-arrows="true" data-swipe="true" data-ratio=".85" data-loop="true" data-click="false" )
    div
      include ../../modules/photo-card/include-single
    div
      include ../../modules/photo-card/include-single
    div
      include ../../modules/photo-card/include-single
      
#processLayer
  .container