.b-fotorama
    
  .b-fotorama__gallery( data-ratio="1.8" data-width="100%" data-arrows="true" data-click="true" data-swipe="true" data-loop="true" )
  
    .b-fotorama__frame
        
      .b-fotorama__sticky-content
        .b-fotorama__height
        .b-fotorama__text
          .b-h1 КЛУБНЫЙ ДОМ
          p Квартиры комфорт класса<br>рядом с Люблинским сквером
          .b-fotorama__text-note( style="background-image: url( '/template/images/walk-icon.svg' );") 2 минуты до метро Люблино
          
      .b-fotorama__container.i-show
        img.b-fotorama__image.hide-on-small-only( src="/upload/gallery/1.jpg" width="100%" alt="" )
        span.b-fotorama__image-bg.hide-on-med-and-up( style="background-image: url( '/upload/gallery/1.jpg' );" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        img.b-fotorama__image.hide-on-small-only( src="/upload/gallery/1.jpg" width="100%" alt="" )
        span.b-fotorama__image-bg.hide-on-med-and-up( style="background-image: url( '/upload/gallery/1.jpg' );" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        img.b-fotorama__image.hide-on-small-only( src="/upload/gallery/1.jpg" width="100%" alt="" )
        span.b-fotorama__image-bg.hide-on-med-and-up( style="background-image: url( '/upload/gallery/1.jpg' );" )        

    .b-fotorama__frame
      .b-fotorama__container.i-show
        img.b-fotorama__image.hide-on-small-only( src="/upload/gallery/1.jpg" width="100%" alt="" )
        span.b-fotorama__image-bg.hide-on-med-and-up( style="background-image: url( '/upload/gallery/1.jpg' );" )
        
.b-top-gallery__note Данное изображение носит информационный характер и не является публичной офертой.
