@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat-Regular'), url(/fonts/Akrobat-Regular.otf);
}
@font-face {
  font-family: 'Akrobat Bold';
  src: local('Akrobat-Bold'), url(/fonts/Akrobat-Bold.otf);
}