.b-header
  position fixed
  top 0
  left 0
  width 100%
  height 131px
  padding-top 32px
  padding-bottom 32px
  background-color #fff
  color #333
  z-index 100
  
  a, a:hover
    color #73a532
  
  .container
    display flex
    align-items center
    justify-content space-between
    
  &-top-menu
    font-size 10.5pt
    font-family "Akrobat Bold", "Open Sans Condensed", Arial, sans-serif
    text-transform uppercase
    letter-spacing 1px
    margin 0
    
    li
      display inline-block
      margin 0 11px
      
    @media( max-width 1400px )
      display none
      
  &-pdf
    display flex
    justify-content space-between
    margin 15px 30px 0 0
    text-align left
    
    i
      display block
      width 40px
      height 40px
      margin-right 10px
      background-repeat no-repeat
      background-position center
      background-size cover
      
    u
      text-decoration none
      font-weight normal
      text-transform uppercase
      line-height 16px
      font-size 9pt
      
    @media( max-width 600px )
      margin 7px 0 0 0
      
  &-phone
  
    @media( max-width 600px )
      display none
      
  &-icons
    text-align center
    
    @media( max-width 600px )
      margin-top 10px
      
    &__phone
      font-size 23pt
      font-family "Akrobat Bold", "Open Sans Condensed", Arial, sans-serif
      
      @media( max-width 767px )
        font-size 13pt
      
      span
        display inline-block
        vertical-align top
      
  &-btn
    text-transform uppercase
    display inline-block
    font-size 8pt
    font-family "Akrobat", "Open Sans Condensed", Arial, sans-serif
    
    &:hover
      opacity 1
      text-decoration none
    
  &-nav.b-menu-icon
    margin 17px 0 0 30px
    display none
    
    @media( max-width 600px )
      margin-top 7px
      margin-left 30px
    
    @media( max-width 340px )
      margin-left 20px
      
    @media( max-width 1400px )
      display block
        
  .b-header-logo
  
    img
      vertical-align top
      width 110px
      height 60px
              
.b-phone-icon
  i
    display inline-block
    width 16px
    height 16px
    background embedurl( 'img/phone-call.svg' ) no-repeat center center
    background-size cover
      
.b-menu-icon
  i
    display inline-block
    vertical-align top
    width 32px
    height 32px
    background embedurl( 'img/menu-icon.png' ) no-repeat center center
    background-size cover
    
.b-footer
  background-color #f5f5f5
  min-height 140px
  padding-top 42px
  color #484648
    
  @media( max-width 767px )
    text-align center
  
  img
    width 111px
    
    @media( max-width 767px )
      margin-bottom 15px
    
  &__phone
    font-size 16pt
    margin-top 13px
    
    @media( max-width 767px )
      text-align center
      padding-bottom 20px
      
  p
    font-size 8pt
    margin 0
    padding 10px 0
    
.b-page
  padding-top 131px
  

      
.modal
  border-radius 0
  box-shadow none
  
  @media only screen and ( max-width: 600px )
    width 100%
    height 100%
    max-height 100%
    top 0 !important
    bottom 0
  
  @media only screen and ( min-width: 601px ) and ( max-width: 1200px )
    width 80%
  
  & &-content
    padding 0
    
  &-content__close
    position absolute
    top 25px
    right 25px
    width 32px
    height 32px
    cursor pointer
    
    &:hover
      opacity .7
    
   &-overlay
    background-color rgba( 199,199,187,.67 )
    opacity 1 !important
    
@media only screen and (min-width: 993px)

  .container
    width 85%