.b-heading
  span Отправьте заявку
  
hr

.row

  .col.m6.s12
    include ../modules/fotorama/flat
  
  .col.m6.s12
    .b-flat-info__text( style="background-image: url( '/template/images/pattern2.png' );" )
    
      hr.i-size-L
      hr
      b Квартира №70
      hr.i-size-M
      span Количество комнат: 1<br>Площадь: 48.20 м<sup>2</sup>
      hr.i-size-M
      b от 16 000 500 рублей
      hr.i-size-L
      a.btn.btn-large( href="/form/?id=f36bf0a1-72db-e811-a2c4-0050568b3458" ) Отправить заявку
      
      
