h3.center-align Март 2019
  
.b-fotorama
  .fotorama.hide-on-med-and-up( data-width="100%" data-arrows="true" data-swipe="true" data-ratio=".85" data-loop="true" data-click="false" )
    div
      include ../modules/photo-card/day-single
    div
      include ../modules/photo-card/day-single
    div
      include ../modules/photo-card/day-single
      
hr.i-size-M
      
#processLayerClose Закрыть галерею