h3.center-align Март 2019
  
.b-fotorama
  .fotorama( data-width="100%" data-arrows="true" data-swipe="true" data-ratio="3" data-loop="true" )
    div
      include ../modules/photo-card/day
    div
      include ../modules/photo-card/day
    div
      include ../modules/photo-card/day
      
hr.i-size-M
      
#processLayerClose Закрыть галерею