.row
        
  .col.s4
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/1.jpg' );" )
      .b-photo-card__text 1 мая 2019
        
  .col.s4
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/2.jpg' );" )
      .b-photo-card__text 2 мая 2019
        
  .col.s4
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/3.jpg' );" )
      .b-photo-card__text 3 мая 2019