@import '../../styl/component-include.styl'

#filter-section
  display none

#filter
  background-color #f7f7f7
  padding 38px 12px
  //height 540px
  
  @media( max-width 600px )
    display none
  
  &-btn
    height 49px
    width 100%
    background-color #f7f7f7
    position relative
    cursor pointer
    display none
  
    @media( max-width 600px )
      display block
  
    i
      background-repeat no-repeat
      background-position right top
      width 24px
      height 24px
      display block
      position absolute
      top 14px
      right 17px
    
    span
      display none
      line-height 49px
      padding-left 12px
      color #666666
      
      &.i-show
        display inline-block
    
  
  label
    font-size 9pt
    font-weight bold
    text-transform uppercase
    padding-bottom 10px
    margin-bottom 40px
    border-bottom 1px solid #c7c7bb
    display block
    color #333333
    
  .ui-widget
    font-family "Akrobat", "Open Sans Condensed", Arial, sans-serif
    
  .ui-widget.ui-widget-content
    height 7px
    background-color #f1f1f1
    box-shadow 0 1px 0 rgba( 153,153,153,.39 ) inset
    border-radius 0
    border none
    
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active
    width 24px
    height 24px
    border-radius 12px
    background-color #fff
    border 3px solid #73a633
    top -9px
    margin-left -12px
    
    &:focus
      outline none
    
  .ui-slider .ui-slider-range
    background-color #73a633
    height 7px
    
  .ui-slider-handle
    
    span
      position absolute
      bottom 30px
      left 0
      font-size 8pt
      font-weight bold
      width 24px
      text-align center
      
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover
    color #333
    
.b-filter
    
  &__input
    text-align right
    line-height 15px
    font-size 9pt
    transform( translateY( 19px ))
    
    input[ type="text" ]:not(.browser-default)
      height 20px
      line-height 20px
      font-size 9pt
      display inline-block
      width 20px
      margin 0
      border none
      background-color rgba( 255,255,255,.9 )
      text-align center
      
      &:focus:not([readonly])
        border none
        box-shadow none

  &__wrapper
    margin-bottom 35px
    height 7px
    background-color #f1f1f1
    box-shadow 0 1px 0 rgba( 153,153,153,.39 ) inset
    border-radius 4px
    border none
    padding 0 12px
  
#filter-price-value
  font-size 9pt
  margin -32px 0 17px

#filter-reset
  font-size 9pt
  cursor pointer
  margin-top 50px
  
.b-filter

  thead,
  tr,
  th
    background-color #fff
  
  th
    position sticky
    position -webkit-sticky
    top 0
    z-index 1
    font-size 7pt
    text-transform uppercase
    font-weight bold
    text-align center
    padding-bottom 19px
    cursor pointer
    
    @media( max-width 1200px )
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
        display inline-block
        width 25%
        
      &:nth-child(5),
      &:nth-child(6)
        display none
    
  tbody
    
    tr
      height 65px
      border-bottom-color #c7c7bb
      cursor pointer
      transition( background-color .3s ease )
      
      &.i-action
        color #cc0000
        
      &:hover
        background-color rgba( 115, 166, 51, .15 )
        
      @media( max-width 1200px )
        display block
        height auto
        padding-top 15px
      
    td
      vertical-align middle
      text-align center
      font-size 12pt
      width 16%
      line-height 1.1
      
      @media( max-width 1200px )
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
          display inline-block
          width 25%
          
        &:nth-child(5)
          padding-top 10px
          font-size 14pt
          
        &:nth-child(5),
        &:nth-child(6)
          display block
          width 100%
          margin-bottom 15px
          text-align center
      
    small
      font-size 7pt
      
    a.btn:hover,
    a.btn:focus
      color #fff
      text-decoration none
      
  .col.xl9
    //max-height calc(100vh - 300px)
    height 540px
    overflow auto
  
.b-flat-modal
  display flex
  background-color #f3f3f3
  
  @media( max-width 600px )
    display block
  
  &__img
    width 45%
    background-color #fff
    //display flex
    align-items center
    
    /*img
      max-width 100%*/
      
    @media( max-width 600px )
      width auto
      padding 30px
    
  &__text
    width 55%
    font-size 13.5pt
    padding 55px 125px 35px
    line-height 1.75
  
    @media( min-width 601px) and ( max-width 992px )
      padding 40px 30px
  
    @media( min-width 993px) and ( max-width 1600px )
      padding-left 50px
      padding-right 50px
      
    @media( max-width 600px )
      width auto
      padding 30px
    
  &__price
    font-size 26pt
    margin 35px 0 32px
    
  &__btn
    margin-bottom 30px
    
  .btn
  
    &:hover,
    &:focus
      text-decoration none
      color #fff
    
  &__close
    font-size 7pt
    
  .b-doc
    padding-top 8px
    margin-bottom 20px
  
  