.row
  .col.m4.s12
    .b-content-card
      .b-content-card__wrapper
        .b-letter <span>1</span> Комнатные<br>квартиры
        p от 40 м<sup>2</sup><br>от 175 680 р./м<sup>2</sup>
        .b-price от <span>175 680 000</span> р.
        .btn.btn-large Показать варианты
        
  hr.show-on-small.hide-on-med-and-up.clearfix
    
  .col.m4.s12
    .b-content-card
      .b-content-card__wrapper
        .b-letter <span>2</span> Комнатные<br>квартиры
        p от 40 м<sup>2</sup><br>от 175 680 р./м<sup>2</sup>
        .b-price от <span>240 580 000</span> р.
        .btn.btn-large Показать варианты
        
  hr.show-on-small.hide-on-med-and-up.clearfix
    
  .col.m4.s12
    .b-content-card
      .b-content-card__wrapper
        .b-letter <span>3</span> Комнатные<br>квартиры
        p от 40 м<sup>2</sup><br>от 175 680 р./м<sup>2</sup>
        .b-price от <span>300 680 000</span> р
        .btn.btn-large Показать варианты
        