.b-content-card__wrapper( data-ajax-url="/ajax/flat.html" data-method="GET" )

  //-.row.b-flats.i-slide-top-animation
  
  .b-heading
    span Выберите количество комнат
    
  hr
    
  .row.b-flats
    .col.m4.s12
      .b-content-card( data-flats="1" ) Однокомнатные
          
    hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
      
    .col.m4.s12
      .b-content-card( data-flats="2" ) Двухкомнатные
          
    hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
      
    .col.m4.s12
      .b-content-card( data-flats="3" ) Трехкомнатные
      
  hr
   
  .b-flats__blocks
  
    .b-flats__block( data-flats="1" )
  
      .b-heading
        span Выберите планировку
        
      hr
    
      .row
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/1.gif" alt="" data-id="789" )
              
        hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/2.gif" alt="" data-id="789" )
              
        hr.hide-on-xl.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/3.gif" alt="" data-id="789" )
              
        hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/3.gif" alt="" data-id="789" )
          
      hr.i-size-S
    
      .row
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/1.gif" alt="" data-id="789" )
              
        hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/2.gif" alt="" data-id="789" )
          
      hr
            
    .b-flats__block( data-flats="2" )
  
      .b-heading
        span Выберите планировку
        
      hr
    
      .row
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/1.gif" alt="" data-id="789" )
              
        hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/2.gif" alt="" data-id="789" )
              
        hr.hide-on-xl.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/3.gif" alt="" data-id="789" )
          
      hr
    
    .b-flats__block( data-flats="3" )
  
      .b-heading
        span Выберите планировку
        
      hr
    
      .row
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/1.gif" alt="" data-id="789" )
              
        hr.show-on-small.hide-on-med-and-up.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/2.gif" alt="" data-id="789" )
              
        hr.hide-on-xl.clearfix.i-size-S
          
        .col.xl3.l6.m6.s12
          img.responsive-img( src="/upload/flats/3.gif" alt="" data-id="789" )
          
      hr
          
  .b-flats__info-block