@import '../../styl/component-include.styl'

@keyframes impression-preloader
  0%
    transform rotate(0deg)
  50%
    transform rotate(180deg)
  100%
    transform rotate(360deg)
    
.b-top-gallery
  position relative
  
  @media( min-width 768px ) {
    margin-right calc( 7% - 15px )
    margin-left calc( 7% - 15px )
  }

  .col
    position relative
    
    &:nth-of-type(1)
      padding-right 0
    
    &:nth-of-type(2)
      padding-left 0
      
    @media( max-width 767px )
      padding-right 0 !important
      padding-left 0 !important
  
  &__note
    font-size 8pt
    color #fff
    text-align center
    width 100%
    position absolute
    bottom 20px
    left 0
    padding 0 20px
    line-height 1.1
    pointer-events none
    z-index 2
    
    @media( max-width 600px )
      bottom 40px
    
  .fotorama__stage__frame
    overflow visible
    
  .b-fotorama__image-bg
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //opacity: 0;
    transition( opacity .5s ease )
    z-index: 1
    
  /*.b-fotorama__container.i-load .b-fotorama__image-bg
    opacity 1*/
    
  .b-fotorama__top-content
    
    img
      width 100%
      height auto
      
      @media( max-width 767px )
        width 200px
      
  .b-fotorama__top-text
    width 285px
    color #fff
    text-align left
    font-family "Akrobat Bold", "Open Sans Condensed", Arial, sans-serif
    font-size 18pt
    margin-left 110px
    padding-top 40px
    z-index 2
      
    p
      font-size 18pt
      margin 0
      line-height 1.2
      text-align left
      
    @media( max-width 767px )
      padding-top 20px
      width 90%
      margin-left 5%
    
      .b-h1
        font-size 24pt
        
      p
        font-size 16pt
      
  .b-4june
    position absolute
    top 0
    left 0
    width 305px
    color #fff
    background-color #73a434
    text-align left
    font-family "Akrobat Bold", "Open Sans Condensed", Arial, sans-serif
    padding 15px
    margin 230px 0 0 calc( 110px - 15px )
    display none
    z-index 2
    
    .b-h1
      font-size 68pt
      text-transform uppercase
      line-height 1
      
    p
      font-size 32pt
      margin 0
      line-height 1.2
      
    @media( max-width 767px )
      margin 150px 5% 0
      width 90%
      max-width 350px
    
      .b-h1
        font-size 40pt
        
      p
        font-size 26pt
        
  .fotorama__wrap .b-4june
    display block
    
  .b-fotorama__sticky-content,
  .b-fotorama__top-content
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 2
    
    p
      text-align left
    
  .b-fotorama__height
    width 200px
    height calc( 100% - 204px - 70px )
        
    @media( max-width 767px )
      height calc( 100% - 204px )

  .b-fotorama__text
    pointer-events none
    width 300px
    color #fff
    text-align left
    font-family "Akrobat Bold", "Open Sans Condensed", Arial, sans-serif
    font-size 21pt
    position sticky
    bottom 70px
    margin-left 110px
    z-index 2
    
    .b-h1
      text-align left
      
    p
      font-size 18pt
      
    &-note
      background-repeat no-repeat
      background-position left center
      background-size contain
      padding-left 35px
      font-size 12pt
      line-height 32px
      margin-left -5px
    
    @media( max-width 767px )
      left 20px
      bottom 20px
      margin-left 5%
    
      .b-h1
        font-size 24pt
        
      p
        font-size 16pt
        line-height 1.2