extends ../layouts/form.jade

block title
  title Форма заявки | Est-a-tet

block content
  link( href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet" )
  script( src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" )

  section.b-form
      
    .container
      
      .row
        
        .col.m6.s12
          include ../modules/fotorama/flat
        
        .col.m6.s12
          .b-flat-info__text( style="background-image: url( '/template/images/pattern2.png' );" )
          
            hr.i-size-L
            hr
            b Квартира №70
            hr.i-size-M
            span Количество комнат: 1<br>Площадь: 48.20 м<sup>2</sup>
            hr.i-size-M
            b от 16 000 500 рублей
            hr.i-size-M
                
      hr.i-size-L
      
      .row
      
        .col.m8.offset-m2.s12
          
          form( action="" method="" )
            .input-field
              input#first_name.validate( name="first_name" type='text' required )
              label(for='first_name') Имя
              
            .input-field
              input#phone.validate( name="phone" type='tel' required )
              label(for='phone') Номер телефона
              
            .input-field
              input#email.validate( name="email" type='email' )
              label(for='email') Email
              
            .input-field
              textarea#message.materialize-textarea 
              label( for="message" ) Сообщение
              
            hr
              
            div
              label
                input( type="checkbox" checked="checked" name="agreement" )
                span Я согласен на обработку персональных данных. <a href="/legacy/">Соглашение на обработку персональных данных</a>.
                
            hr.i-size-L
            
            button.btn.btn-large( type="submit" ) Отправить заявку
                