.row
  
  .col.m3.s6
    a.b-doc( href="" ) Разрешение на строительство (освобождение площадки под строительство)
  
  .col.m3.s6
    a.b-doc( href="" ) Разрешение на строительство (строительство жилого комплекса)
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Проектная декларация (новая редакция)
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 1 в Проектную декларацию
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 2 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 3 в Проектную декларацию
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 4 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 5 в Проектную декларацию
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 6 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 7 в Проектную декларацию
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 8 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 10 в Проектную декларацию
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 11 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 12 в Проектную декларацию
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 13 в Проектную декларацию
  
  .col.m3.s6
    a.b-doc( href="" ) Изменения № 14 в Проектную декларацию
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Догoвор аренды ЗУ
  
  .col.m3.s6
    a.b-doc( href="" ) Дoполнительное соглашение к договору аренды ЗУ
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Прoект ДДУ на машино-место
  
  .col.m3.s6
    a.b-doc( href="" ) Дoговор страхования ГОЗ
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Дополнительное соглашение № 1 к Договору страхования ГОЗ
  
  .col.m3.s6
    a.b-doc( href="" ) Полoжительное заключение негосударственной экспертизы №1-1-1-0008-14 от 06.03.2014г.
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Полoжительное заключение негосударственной экспертизы №2-1-1-0317-14 от 16.05.2014г.
  
  .col.m3.s6
    a.b-doc( href="" ) Полoжительное заключение негосударственной экспертизы №2-1-1-0559-14 от 09.09.2014г.
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Полoжительное заключение негосударственной экспертизы №77-2-1-2-0021-16 от 25.03.2016г.
  
  .col.m3.s6
    a.b-doc( href="" ) Положительное заключение экспертизы № 77-1-1-2-0535-18 от 19.02.2018 г.
    
  hr.show-on-small.hide-on-med-and-up.clearfix
  
  .col.m3.s6
    a.b-doc( href="" ) Положительное заключение экспертизы № 77-1-1-2-0709-18 от 19.03.2018 г.
  
  .col.m3.s6
    a.b-doc( href="" ) Аудиторское заключение от 16.05.2017 г.
    
hr
    
.row
  
  .col.m3.s6
    a.b-doc( href="" ) Аудиторское заключение от 15.05.2018 г.