@import '../../styl/component-include.styl'

.b-doc
  display block
  position relative
  margin-left 40px
  font-size 8pt
  font-weight bold
  line-height 1.2
  min-height 30px
  
  &:before
    content ''
    display block
    width 24px
    height 30px
    background url( '/template/images/file.svg' ) no-repeat center
    background-size cover
    position absolute
    top 0
    left -40px