footer.b-footer
  .container
    .row
      .col.m2.s12
        a( href="" )
          img( src="/template/images/logo-lclub.svg" alt="L-CLUB Дом в Люблино" )
      .col.m8.s12
        p Информируем Вас о сборе метаданных (cookie, ip-адрес и местоположение) для корректного функционирования сайта. Если вы согласны с нашими способами использования файлов cookie – просто продолжайте пользоваться сайтом.
      .col.m2.s12.right-align
        .b-footer__phone +7 (495) 106-36-55
