footer.b-footer
  .container
    .row
      .col.s5
        a( href="" )
          img( src="/upload/1147-logo.png" alt="" )
      .col.s7.right-align
        .b-footer-icons
          .b-footer-icons__phone
            span.b-phone-icon
              i
            span 8 800 567 93 28
          a.b-footer-btn( href="#phoneModal" rel="nofollow" ).modal-trigger Заказать звонок