<div id="bx-panel" style="z-index: 995 !important; display: none;">BX Panel</div>

header.b-header
          
  .container
    
    a.b-header-logo( href="/" )
      img( src="/template/images/logo-lclub.svg" alt="L-CLUB Дом в Люблино" )
      
    ul.unstyled.b-header-top-menu
      li
        a( href="about" ) О проекте
      li
        a( href="prices" ) Выбрать квартиру
      li
        a( href="process" ) Ход строительства
      li
        a( href="banks" ) Ипотека
      li
        a( href="docs" ) Документы
      li
        a( href="contacts" ) Контакты
    
    .b-header-icons
      a.b-header-pdf.left( href="" target="_blank" )
        i( style="background-image: url( '/template/images/pdf.svg' );" )
        u Скачать<br>презентацию
      div.left.b-header-phone
        .b-header-icons__phone +7 (495) 106-36-55
        a.b-header-btn( href="#" rel="nofollow" ) Заказать звонок
      a.sidenav-trigger.b-header-nav.b-menu-icon.left( href="" data-target="slide-out" rel="nofollow" )
        i
                
                
ul#slide-out.sidenav.unstyled
  li.side-nav-back
  li
    a( href="about" ) О проекте
  li
    a( href="prices" ) Выбрать квартиру
  li
    a( href="process" ) Ход строительства
  li
    a( href="banks" ) Ипотека
  li
    a( href="docs" ) Документы
  li
    a( href="contacts" ) Контакты