
<!-- start /components/top-gallery/-->
<link href="/template/fotorama.css" rel="stylesheet"/>
<script src="/template/fotorama.js"></script>
<link rel="stylesheet" href="/components/top-gallery/style.css"/>
<script src="/components/top-gallery/script.js"></script>
<div class="b-top-gallery">
  <div class="b-top-gallery__fotorama">
    <div class="b-fotorama">
      <div class="b-4june">
        <div class="b-h1">4 июня</div>
        <p>Повышение цен</p>
      </div>
      <div data-ratio="1.8" data-width="100%" data-height="740" data-arrows="true" data-click="true" data-swipe="true" data-loop="true" class="b-fotorama__gallery">
        <div class="b-fotorama__frame">
          <div class="b-fotorama__top-content">
            <div class="b-fotorama__top-text">
              <div class="b-h1">ОПЛАТА ONLINE</div>
              <p>Консультации, бронирование<br>и оплата из дома</p>
            </div>
          </div>
          <div class="b-fotorama__sticky-content">
            <div class="b-fotorama__height"></div>
            <div class="b-fotorama__text">
              <div class="b-h1">КЛУБНЫЙ ДОМ</div>
              <p>Квартиры комфорт класса<br>рядом с Люблинским сквером</p>
              <div style="background-image: url( '/template/images/walk-icon.svg' );" class="b-fotorama__text-note">2 минуты до метро Люблино</div>
            </div>
          </div>
          <div class="b-fotorama__container i-show"><img src="/upload/gallery/1.jpg" width="100%" alt="" class="b-fotorama__image hide-on-small-only"/><span style="background-image: url( '/upload/gallery/1.jpg' );" class="b-fotorama__image-bg hide-on-med-and-up"></span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img src="/upload/gallery/1.jpg" width="100%" alt="" class="b-fotorama__image hide-on-small-only"/><span style="background-image: url( '/upload/gallery/1.jpg' );" class="b-fotorama__image-bg hide-on-med-and-up"></span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img src="/upload/gallery/1.jpg" width="100%" alt="" class="b-fotorama__image hide-on-small-only"/><span style="background-image: url( '/upload/gallery/1.jpg' );" class="b-fotorama__image-bg hide-on-med-and-up">       </span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img src="/upload/gallery/1.jpg" width="100%" alt="" class="b-fotorama__image hide-on-small-only"/><span style="background-image: url( '/upload/gallery/1.jpg' );" class="b-fotorama__image-bg hide-on-med-and-up"></span></div>
        </div>
      </div>
    </div>
    <div class="b-top-gallery__note">Данное изображение носит информационный характер и не является публичной офертой.</div>
  </div>
</div>
<!-- end /components/top-gallery/-->