extends ../layouts/main.jade

block title
  title Life Style | Est-a-tet

block content
    
  section#lifeStyle
  
    .container
  
      h2.center-align Расположение
      
      p L’Club — жилой комплекс клубного формата, расположенный в паре минут пешком от станции метро «Люблино». Живя здесь, вы будете знать своих соседей в лицо и по именам, а ваши дети будут играть друг с другом во дворе. Здесь вам не придется переживать за парковочное место, возвращаясь с работы. В доме, в котором всего четыре подъезда, будет подземный паркинг, а также наземная гостевая парковка, чтобы вашим гостям здесь тоже было комфортно.
      
      hr
    
      include ../components/life-style-gallery/template
        
    
        