.b-tabs

  .b-tabs__menu
    .b-tabs__menu__item.i-active( data-tab="hypothec" ) Ипотека
    .b-tabs__menu__item( data-tab="instalments" ) Рассрочка
    .b-tabs__menu__item( data-tab="actions" ) Акции
    .b-tabs__menu__item( data-tab="tradein" ) TRADE IN

  #hypothec.b-tabs__item.i-active
  
    .b-collapsible
      
      include tab
      hr
      .center-align
        .btn.btn-large.b-collapsible-header больше вариантов
      
  #instalments.b-tabs__item
  
    .b-collapsible
    
      include tab
      hr
      .center-align
        .btn.btn-large.b-collapsible-header больше вариантов
      
  #actions.b-tabs__item
  
    .b-collapsible
    
      include tab
      hr
      .center-align
        .btn.btn-large.b-collapsible-header больше вариантов
        
  #tradein.b-tabs__item
  
    .b-collapsible
    
      include tab
      hr
      .center-align
        .btn.btn-large.b-collapsible-header больше вариантов