.b-tabs

  .b-tabs__menu
    .b-tabs__menu__item.i-active( data-tab="hypothec" ) Ипотека
    .b-tabs__menu__item( data-tab="instalments" ) Рассрочка

  #hypothec.b-tabs__item.i-active
    table.b-banks-table
      thead
        tr
          th Банки, предлагающие ипотеку
          th Процентная<br>ставка
          th Первоначальный<br>взнос
          th Срок<br>кредитования
          th Семейная<br>ипотека 6 %
      tbody
        tr
          td
            img( src="/upload/banks/1.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/2.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/3.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/4.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
      
  #instalments.b-tabs__item
    table.b-banks-table
      thead
        tr
          th Банки, предлагающие рассрочку
          th Процентная<br>ставка
          th Первоначальный<br>взнос
          th Срок<br>кредитования
          th Семейная<br>ипотека 6 %
      tbody
        tr
          td
            img( src="/upload/banks/1.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/2.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/3.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/4.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
      
hr.i-size-L

.center-align
  a.btn.btn-large( href="" ) Оставить заявку