@import '../../styl/component-include.styl'

.b-tabs

  &__menu
    text-align center
    margin-bottom 44px
    
    &__item
      text-transform uppercase
      text-decoration underline
      font-size 13.5pt
      cursor pointer
      display inline-block
      margin 0 28px
      
      @media( max-width 767px )
        margin 0 3px
      
      &.i-active
        color #73a633
        cursor default
        text-decoration none
        
      &:focus
        ouline none
        
  &__item
    display none
    
    &.i-active
      display block

.b-banks-table
    
  th
    font-size 8pt
    text-transform uppercase
    font-weight bold
    text-align center
    padding-bottom 19px
    width 18%
    
    &:first-child
      font-size 10.5pt
      text-transform none
      text-align left
      width 28%
      
    @media( max-width 600px)
      font-size 5pt
      display inline-block
      width 24%
      
      &:first-child
        display none
  
  tbody
    
    tr
      height 65px
      border-bottom-color #c7c7bb
      
      @media( max-width 600px)
        display block
        padding 20px 0
        height auto
      
    td
      vertical-align middle
      text-align center
      
      @media( max-width 600px)
        display inline-block
        width 24%
      
      &:first-child
        text-align left
        
        @media( max-width 600px)
          display block
          width 100%
          text-align center
          margin-bottom 15px
          
          img
            width 200px
            