table.b-banks-table
  thead
    tr
      th Банки, предлагающие ипотеку
      th Процентная<br>ставка
      th Первоначальный<br>взнос
      th Срок<br>кредитования
      th Семейная<br>ипотека 6 %
  tbody
    tr
      td
        img( src="/upload/banks/1.jpg" alt="" )
      td от 6,0 %
      td от 15 %
      td до 30 лет
      td Есть
    tr
      td
        img( src="/upload/banks/2.jpg" alt="" )
      td от 6,0 %
      td от 15 %
      td до 30 лет
      td Есть
    tr
      td
        img( src="/upload/banks/3.jpg" alt="" )
      td от 6,0 %
      td от 15 %
      td до 30 лет
      td Есть
    tr
      td
        img( src="/upload/banks/4.jpg" alt="" )
      td от 6,0 %
      td от 15 %
      td до 30 лет
      td Есть
  
  tbody.b-collapsible-body
    - var n=10
      while n > 0
        - n--
        tr
          td
            img( src="/upload/banks/1.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/2.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/3.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть
        tr
          td
            img( src="/upload/banks/4.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td до 30 лет
          td Есть