#pdf
  width 990px
  height 700px
  
  &-left
    float left
    width 200px
    margin-right 70px
    margin-left 20px
    text-align center
    
  &-phone
    font-size 12pt
    font-weight bold
    line-height 1.1
    text-align left
    font-family "Times New Roman", serif
    margin-left 36px
    
    span
      display block
      font-size 20pt
  
  &-center
    float left
    width 420px
    padding-top 120px
    text-align center
    margin-right 40px
  
  &-right
    float left
    width 240px
    text-align center
    
    b
      color #a59456
      font-family "Times New Roman", serif
      font-size 70pt
      line-height 1.1
      
    span
      text-transform uppercase
      font-size 9pt
      line-height 1
      
#copy
  font-size 9pt
  text-align right