.b-news
  
  h2.center-align Новости
  
  .b-collapsible
  
    .row
      
      .col.m4
        img.responsive-img( src="/upload/news/1.jpg" alt="" )
        h6
          b Мы приступили к закладке фундамента
        .text-small 13 августа 2018
        
      hr.show-on-small.hide-on-med-and-up.clearfix
      
      .col.m4
        img.responsive-img( src="/upload/news/2.jpg" alt="" )
        h6
          b Заседание правительства по вопросам благоустройства района
        .text-small 13 августа 2018
        
      hr.show-on-small.hide-on-med-and-up.clearfix
      
      .col.m4
        img.responsive-img( src="/upload/news/3.jpg" alt="" )
        h6
          b Отделка фасада новых корпуов поручена ООО «Лак»
        .text-small 13 августа 2018
        
    .b-collapsible-body
    
      hr.i-size-L
    
      .row
        
        .col.m4
          img.responsive-img( src="/upload/news/1.jpg" alt="" )
          h6
            b Мы приступили к закладке фундамента
          .text-small 13 августа 2018
          
        hr.show-on-small.hide-on-med-and-up.clearfix
        
        .col.m4
          img.responsive-img( src="/upload/news/2.jpg" alt="" )
          h6
            b Заседание правительства по вопросам благоустройства района
          .text-small 13 августа 2018
          
        hr.show-on-small.hide-on-med-and-up.clearfix
        
        .col.m4
          img.responsive-img( src="/upload/news/3.jpg" alt="" )
          h6
            b Отделка фасада новых корпуов поручена ООО «Лак»
          .text-small 13 августа 2018
        
    hr.i-size-L
        
    .center-align
      .btn.btn-large.b-collapsible-header( href="" ) Больше новостей
      
    