// start /components/life-style-gallery/

link( href="/template/fotorama.css" rel="stylesheet" )
script( src="/template/fotorama.js" )

link( rel="stylesheet", href="/components/life-style-gallery/style.css" )
script( src="/components/life-style-gallery/script.js" )

.b-life-style-gallery
  
  include ../../modules/fotorama/life-style-gallery
  
  .b-life-style-gallery__text
    .b-life-style-gallery__text-wrap

// end /components/life-style-gallery/